<html>
<meta charset="utf-8">
<head>
    <meta charset="utf-8" />
    <title>index</title>
    <meta name="description" content="Stagb Admin Template" />
    <meta name="keywords" content="html5, ,semantic,ui, library, framework, javascript,jquery,,stagb,template" />
    <link href="css/semantic.min.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/vue.js"  type="text/javascript" charset="utf-8"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/md5.js"></script>
</head>
<body>
<div>
    <div id="top_nav" class="ui top stackable attached inverted menu">
        <a class="item left"  onclick="ShowNav()">
            <i class="list layout icon"></i>
            菜单
        </a>
        <a class="item right" id="user_name">
            {{username}}
        </a>
        <a class="item right" @click="SignOut">
            <i class="sign out icon"></i>
            登出
        </a>
    </div>

    <div id="show_data" class="ui sidebar inverted vertical menu">
        <ul id="show_nav">
            <li v-for="nav in navs">
                <a :href="nav.url"  class="item">{{nav.name}}</a>
            </li>
        </ul>
    </div>

    <div  class="pusher">
        <div class="content">
            <div class="ui equal width left aligned padded grid stackable">
                <div id="course_table" class="sixteen wide tablet eight wide computer column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h3 class="ui header">选课数据</h3>
                        </div>
                        <div class="ui segment">
                            <table class="ui single line table">
                                <thead>
                                <tr>
                                    <th v-for="key in columns">
                                        {{ key }}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="entry in all_data">
                                    <td v-for="key in list_key">
                                        {{entry[key]}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="groups_chart" class="sixteen wide tablet eight wide computer column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h3 class="ui header">人员数据</h3>
                        </div>
                        <div class="ui segment" >
                            <canvas id="groups_chart_canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="ui small modal" id="tip_window">
        <div class="header">
            提示
        </div>
        <div class="content">
            <p>
                {{msg}}
            </p>
        </div>
        <div class="actions">
            <div class="ui button">
                好的
            </div>
        </div>
    </div>

</div>
</body>
<script src="js/vue.js"  type="text/javascript" charset="utf-8"></script>
<script  type="text/javascript">
    function  ShowNav() {
        $('.ui.sidebar')
            .sidebar('toggle')
        ;
    }

    function FillGroupsChart(chartLables,chartData){
        var ctx = document.getElementById("groups_chart_canvas");
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: chartLables,
                datasets: [{
                    label: '# of Votes',
                    data: chartData,
                    backgroundColor: [
                        '#46bfbd',
                        '#fdb45c',
                        '#f7464a',
                    ],
                    borderWidth: 3
                }]
            }
        });
    }
</script>
<script type="text/javascript">

    var side_nav = new Vue({
        el: '#show_nav',
        data :{
            navs:[{url : "index",name: "后台首页"}]
        },
        mounted(){
            axios.get('/getnavbygroups')
                .then(response=>(this.navs = response.data))
                .catch(function(error){
                    alert(error);
                });
        }

    });

    var course_table = new Vue({
        el:"#course_table",
        data:{
            columns:[],
            all_data:[],
            list_key:[],
            arg_value:"",
            select_arg:"coursename"
        },
        mounted(){
            this.columns = ["课程ID","课程名","课程学分","授课导师"];
            this.list_key = ["coid","coursename","coursecredit","teachername"];
            axios.get('/course/getall')
                .then((response)=>{
                    //function 里面再用this的话 就是thisfunction的东西 不会this到外侧了
                    if(top_nav.$data.username!="未登录账号" && top_nav.$data.username.length>1){
                        this.all_data = response.data;
                    }
                }).catch(function(error){
                alert(error);
            });
        },
        methods:{
            FreshTable:function(){
                axios.get('/course/getall')
                    .then((response)=>{
                        this.all_data = response.data;
                    }).catch(function(error){
                    alert(error);
                });
            }
        },
        computed:{

        },
        watch:{
            all_data: {
                handler(val, oldVal) {
                    if (val.length < 1) {
                        this.FreshTable();
                    }
                },
                immediate: true
            }
        }
    });

    var groups_chart = new Vue({
        el:"#groups_chart",
        data:{
            chart_data:[]
        },mounted(){
            axios.post("/users/userstatistics",{"sort":"groups"})
                .then(response=>{
                    if(response.data.code > 0){
                        get_data = response.data.data[0];
                        this.chart_data = get_data;
                        chartLables = ["学生", "教师", "管理员"];
                        chartData = [get_data.student,get_data.teacher,get_data.admin];
                        FillGroupsChart(chartLables,chartData)
                    }
                })
                .catch(function(error){
                    alert(error);
                });
        }
    });

    var top_nav = new Vue({
        el: '#top_nav',
        data :{
            username:""

        },
        mounted(){
            axios.get('/getuloginname')
                .then(response=>{
                    if(response.data.code==-1){
                        alert("未登录账号！");
                        window.location.href="/login";
                    }
                    this.username = response.data.msg;
                })
                .catch(function(error){
                    alert(error);
                });
        },
        methods:{
            SignOut:function(){
                axios.get('/signout')
                    .then(response=> {
                        let code = response.data.code;
                        alert(response.data.msg);
                        if(code==1){
                            window.location.href="/index";
                        }
                    })
                    .catch(function(error){
                        alert(error);
                    });

            }
        }


    });

</script>
</html>