<template>
    <style>
        .title {
            color: red;
        }
    </style>
    <link href="css/semantic.min.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/vue.js"  type="text/javascript" charset="utf-8"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/md5.js"></script>

    <ul id="show_nav">
        <li v-for="nav in navs">
            <a :href="nav.url"  class="item">{{nav.name}}</a>
        </li>
    </ul>
</template>

<script  type="text/javascript">
    function  ShowNav() {
        $('.ui.sidebar')
            .sidebar('toggle')
        ;
    }
</script>
<script type="text/javascript">

    var show_list = new Vue({
        el: '#show_nav',
        data :{
            navs:[{url : "index",name: "首页"},
                {url : "studentMsg",name: "学生信息"},
                { url : "teacherMsg",name: "教师信息" },
                { url : "courseMsg",name: "课程信息" },
                {url : "userManage",name: "用户管理"},
                { url : "courseManage",name: "课程管理" },
                { url : "chooseManage",name: "选课管理" },
            ]

        },
        mounted(){
            axios.get('/users/getall')
                .then(response=>(this.items = response.data))
                .catch(function(error){
                    alert(error);
                });
        }

    });

</script>
